*{
    color:azure;
    font-family:'Neuton', serif;
    font-weight:500;
    font-size:26px;
   
}
.bg-color{
    background: linear-gradient(#086575,#0d222c);
}
.navbar-brand:hover{
    color: rgb(255, 255, 255);
}
.nav-link:hover{
    color: rgb(118, 216, 208);
    
}
.border{
color: white;
border-radius: 3px;
}
