<div class="container " style="height: 800px; margin-top: 100px;">
    
    <div class="container border border-3 rounded-3 p-4">
        <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3" >
          <div class="col">
            <div class="p-3 border bg-light text-center">Row column</div>
          </div>
          <div class="col">
            <div class="p-3 border bg-light">Row column</div>
          </div>
          <div class="col">
            <div class="p-3 border bg-light">Row column</div>
          </div>
          <div class="col">
            <div class="p-3 border bg-light">Row column</div>
          </div>
          <div class="col">
            <div class="p-3 border bg-light">Row column</div>
          </div>
          <div class="col">
            <div class="p-3 border bg-light">Row column</div>
          </div>
          <div class="col">
            <div class="p-3 border bg-light">Row column</div>
          </div>
          <div class="col">
            <div class="p-3 border bg-light">Row column</div>
          </div>
          <div class="col">
            <div class="p-3 border bg-light">Row column</div>
          </div>
          <div class="col">
            <div class="p-3 border bg-light">Row column</div>
          </div>
        </div>
      </div>
 
</div>
